% -*- mode: erlang -*-

{port_env, [{"CFLAGS", "$CFLAGS -fPIC -Ifoo -Wall -Wextra -Wno-unused-parameter"},
            {"freebsd", "LDFLAGS", "$LDFLAGS -lfoo"}]}.

{port_specs, [
	    {"linux", "ports/complex_drv.so", ["c_src/complex_drv.c", "c_src/complex.c"], [{env, []}] }
]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
